
main{
    margin-left:5rem;
    padding:1rem;
}

.navbar{
    width:5rem;
    height:100vh;
    position: fixed;
    background-color: black;
    transition: 500ms ease;
}

.navbar-nav{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100%;
}

.nav-item{
    width:100%;
}

.nav-item:last-child{
    margin-top:auto;
}

.nav-link{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height:5rem;
    color:gray;
    text-decoration: none;
    filter:grayscale(100%) opacity(0.7);
    transition: 500ms;
}

.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    background:rgba(0,0,0,0.4);
    color: whitesmoke;
}

.link-text{
    display:none;
    margin-left:1rem;
}

.nav-link img{
    min-width:3rem;
    margin:0 0.8rem;
}

.navbar:hover{
    width:12.5rem;
}

.navbar:hover .link-text{
    display:block;
}

.main_logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: whitesmoke;
    background: rgba(0,0,0,0.4);
    font-size: 1.5rem;
    letter-spacing:0.3ch;
    width:100%;
}

.main_logo img{
    transform: rotate(0deg);
    transition: transform 500ms;
}

.navbar:hover .main_logo img{
    transform:rotate(-180deg);
}
